@use "colors" as *;
@use "mixins" as *;
@use "sizes" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 72px;
}
body {
  color: $white;
  color: $light-white;
  font-size: 1.7rem;
  background-color: $dark;
}
a {
  text-decoration: none;
  color: $light-white;
}

img {
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
  background-color: rgb(179, 121, 14);
}
a:focus {
  outline: none;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  width: 92%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 0.6em 0;
  transition: background-color 0.35s ease;
  z-index: 999;

  &--bgc {
    background-color: $dark;
  }

  &__logo {
    padding-left: 0.6em;
    font-size: 3.2rem;
    color: $light-white;
    font-family: "Lobster", cursive;
  }

  &__links {
    @include flexCenter(column);
    gap: 1.6em;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url("../img/nav-bgc.jpg") rgba(12, 12, 12, 0.9);
    @include bgcPosition;
    transform: translateX(100%);
    z-index: 1;
    transition: 0.45s;

    &--active {
      transform: translateX(0);
    }
  }

  &__link {
    position: relative;
    padding: 1.1em;
    text-transform: uppercase;
    color: $light-white;
  }
}

.burger {
  font-size: 2.6rem;
  padding: 0.6em;
  cursor: pointer;
  z-index: 999;

  &--hide {
    display: none;
    z-index: 99;
  }

  &--open {
    transform: translateX(0);
  }
}

.header {
  height: 100vh;
  background: url("../img/header_bg_small.jpg") rgba(0, 0, 0, 0.5);
  @include bgcPosition;
  margin-bottom: 2.8em;

  &__text {
    @include flexCenter(column);
    height: 100%;
  }

  &__title {
    margin-bottom: 1.2em;
    font-size: 4.6rem;
    text-align: center;
    text-transform: capitalize;
  }

  &__btn {
    @include btnStyle;
    background-color: $main;
    color: $white;
  }
}

.about {
  margin-bottom: 3.2em;

  &__heading {
    font-size: $small;
    text-align: center;

    &--line {
      @include hrLine;
      width: 48%;
      background-color: $main;
    }
  }

  &__bgc {
    display: flex;
    flex-direction: column;
    margin-top: 1.8em;
    gap: 2.2em;
  }

  &__img {
    padding: 0 0.6em;
    object-fit: cover;
  }

  &__text {
    padding: 0 0.6em;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 1.1em;
  }

  &__paragraph {
    line-height: 1.3;
    margin-bottom: 2.2em;
  }

  &__item {
    display: flex;
    gap: 0.5em;
    margin-bottom: 0.6em;
  }
}

.services {
  background-color: $light-dark;
  padding-bottom: 1.2em;

  &__title {
    font-size: $small;
    position: relative;
    padding-top: 1.6em;
    text-align: center;

    &--line {
      @include hrLine;
      width: 58%;
      background-color: $main;
    }
  }

  &__container {
    margin-top: 2.2em;
    display: flex;
    flex-direction: column;
  }

  &__icons {
    @include flexCenter(column);
    margin-bottom: 2.6em;
    gap: 0.6em;
  }

  &__icon {
    width: 65px;
    height: 65px;
    padding: 10px;
    background-color: $icon-bg;
    border-radius: 50%;
    object-fit: contain;
    transition: all 0.45s ease;
  }

  &__img {
    display: none;
    padding-bottom: 3.2em;
  }
}

.transform {
  height: 52vh;
  background: url(../img/transform.jpg) rgba(0, 0, 0, 0.8);
  @include bgcPosition;
  background-attachment: fixed;
  margin-bottom: 2.8em;

  &__body {
    @include flexCenter(column);
    height: 100%;
    padding: 0 0.6em;
  }

  &__title {
    margin-bottom: 0.6em;
    font-size: $small;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.8px;
  }

  &__text {
    text-align: center;
    margin-bottom: 2.2em;
    letter-spacing: 0.8px;
  }

  &__btn {
    @include btnStyle;
    background-color: $main;
    color: $white;
  }
}

.team {
  &__title {
    text-align: center;
    font-size: $small;

    &--line {
      @include hrLine;
      width: 48%;
      background-color: $main;
    }
  }

  &__body {
    @include flexCenter(column);
    gap: 2.2em;
    padding: 3.8em 0;
  }

  &__card {
    position: relative;
    height: 470px;
    max-width: 470px;
    width: 100%;
    overflow: hidden;
  }

  &__img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 4px;
    transition: 0.55s;
  }

  &__text {
    @include flexCenter(column);
    position: absolute;
    height: 75px;
    width: 100%;
    padding-top: 1.2em;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.55s;
  }

  &__icons {
    @include flexCenter(row);
    gap: 0.8em;
    margin-top: 0.4em;
  }
}

.testimonials {
  @include flexCenter(column);
  height: 52vh;
  background: url("../img/header_bg_small.jpg") rgba(0, 0, 0, 0.8);
  @include bgcPosition;
  overflow: hidden;
  margin-top: 2.8em;

  &__title {
    text-align: center;
    font-size: $small;

    &--line {
      @include hrLine;
      width: 58%;
      background-color: $main;
    }
  }

  &__body {
    width: 700px;
    overflow: hidden;
  }

  &__slider {
    display: flex;
    width: fit-content;
    transition: transform 1.1s ease;
  }

  &__slide {
    @include flexCenter(column);
    flex: 0 0 700px;
    transform: translateX(100%);
    transition: transform 0.9s ease;

    &--active {
      transform: translateX(0);
    }

    &--previous {
      transform: translateX(-100%);
    }
  }

  &__img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 50%;
    margin-bottom: 0.6em;
  }

  &__name {
    margin-bottom: 0.8em;
  }
  &__text {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 0.6em;
    max-width: 320px;
  }
}

.open {
  padding: 3.2em 0.6em;

  &__title {
    font-size: $small;
    text-align: center;

    &--line {
      @include hrLine;
      width: 68%;
      background-color: $main;
    }
  }

  &__text {
    margin: 1.2em 0 2.2em;
    color: $gray;
    text-align: center;
  }
  &__hours {
    display: flex;
    justify-content: space-between;
    padding: 2.2em 0 0.9em;
    border-bottom: 1px solid;
    width: 100%;
  }
}

.contact {
  background-color: $light-dark;
  padding: 4.2em 0;

  &__container {
    @include flexCenter(column);
    gap: 2.2em;
  }

  &__information {
    @include flexCenter(column);
    gap: 0.6em;
  }

  &__icon {
    margin-right: 0.6em;
    color: $main;
  }

  &__media {
    @include flexCenter(column);
    gap: 0.8em;
    margin-bottom: 1.6em;
  }

  &__logo {
    font-family: "Lobster", cursive;
    font-size: 3.6rem;
  }

  &__text {
    max-width: 320px;
    margin-bottom: 1.2em;
  }

  &__social {
    display: flex;
    gap: 0.8em;
    font-size: 2.1rem;

    &--icon {
      transition: color 0.35s ease;
    }

    &--icon:hover {
      cursor: pointer;
      color: $main;
    }
  }

  &__links {
    @include flexCenter(column);
    gap: 1.1em;
    text-transform: uppercase;
  }

  &__message {
    display: none;
    font-size: 1.3rem;
    text-align: center;
  }
}

.modal {
  position: relative;
  width: 92%;

  &__bgc {
    @include flexCenter(row);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.699);

    &--hidden {
      display: none;
    }
  }

  &__icon {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 2.1rem;
    color: $white;
    cursor: pointer;
  }

  &__body {
    @include flexCenter(column);
    gap: 1.1em;
    padding: 2.2em 0;
    background-color: $dark;
  }

  &__title {
    font-size: 2.1rem;
    text-align: center;
  }

  &__text {
    text-align: center;
    font-size: 1.5rem;
  }

  &__inputs {
    width: 82%;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
  }

  &__input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.6em;

    input {
      padding: 0.6em;
    }

    span {
      position: absolute;
      font-size: 1.3rem;
      color: red;
      right: 6px;
    }
  }

  &--border {
    border: 1px solid red;
  }

  &__btn {
    @include btnStyle;
    background-color: $main;
    color: $white;
  }
}

.scroll-btn {
  position: fixed;
  bottom: 12px;
  right: 22px;
  font-size: 4.2rem;
  cursor: pointer;
  opacity: 0;
  transition: all 0.45s ease;

  &--arrow {
    opacity: 1;
  }
}

.footer {
  padding: 0.9em;
  text-align: center;
}

@import "./small";
@import "./medium";
@import "./large";
